
html {
   font-size: 62.5%;
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;

}


body {
   margin: 0;
   padding: 0;
   font-family: 'Public Sans', sans-serif;
   color: $grayishBlue;
   font-weight: 300;
   font-size: $font-sm;
   line-height: 1.3;
   
   @include breakpoint-up(large){
      font-size: $font-med;
   }

   &.noscroll {
      overflow: hidden;
   }
}

h1, h2, h3 {
   margin-top: 0;
}

a, a:visited, a:hover {
   text-decoration: none;
}

//spacing 
.container {

   max-width: 110rem;
   margin: 0 auto;

   &--pall {
      padding-top: 3.6rem;
      padding-bottom: 3.6rem;
      padding-right: 3.6rem;
      padding-left: 3.6rem;
   }

   &--py { 
      padding-top: 3.6rem; 
      padding-bottom: 3.6rem;
   }
   &--px {
      padding-right: 2.4rem;
      padding-left: 2.4rem;
   }
   &--pt { padding-top: 3.6rem; }
   &--pr { padding-right: 2.4rem; }
   &--pb { padding-bottom: 3.6rem; }
   &--pl { padding-left: 2.4rem; }
}

//Flexbox styles
.flex {
   display: flex;
   &-jc-sb {
      justify-content: space-between;
   }
   &-jc-c {
      justify-content: center;
   }

   &-ai-c {
      align-items: center;
   }
}

//buttons
button, .button {
   display: inline-block;
   padding: 1.4rem 3.5rem;
   background: linear-gradient(to right, $limeGreen, $brightCyan);
   border: 0;
   border-radius: 50px;
   cursor: pointer;
   color: $white;
   font-weight: 400;
   font-size: $font-sm;

   &:hover {
      opacity: 0.75;
   

}

//Visability 
.hide-for-mobile {
   //hide for tablet and mobile

   @include breakpoint-down(medium){
   display: none;
}

}

.hide-for-desktop {
   //hide for desktop width

   @include breakpoint-up(large){
   display: none;
   }

   }
}